<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mine CV</title>
    <style>
        h1{
            text-align: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: aquamarine;
            
        }
        #banner{
            width: 100%;
            height: 50%
        }
    </style>
</head>
<body>
    <h1>My Own Company</h1>
    <img id="banner" src="https://images.pexels.com/photos/145683/pexels-photo-145683.jpeg" height="320" >
    <h1>About my site</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe delectus voluptates aperiam quos adipisci earum amet culpa, magnam quibusdam esse consequatur dolorem consequuntur alias ea aliquam fugiat in suscipit? Assumenda.</p>
    <h1>open positions</h1>
    <button>Contact Us</button>
</body>
</html>