<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mine CV</title>
    <style>
        h1{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>My Own Company</h1>
    <img src="https://images.pexels.com/photos/145683/pexels-photo-145683.jpeg" height="320" >
    <h1>About my site</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe delectus voluptates aperiam quos adipisci earum amet culpa, magnam quibusdam esse consequatur dolorem consequuntur alias ea aliquam fugiat in suscipit? Assumenda.</p>
    <h1>open positions</h1>
    <button>Contact Us</button>
</body>
</html>